.todolist {
    background: #343a40;
    color: #fff;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
    h1 {
        font-weight: 300;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    input, button {
        padding: 5px;
    }

    input {
        flex: 1 1 25rem;
    }

    button {
        background: #343a40;
        border: 1px solid #fff;
        margin-left: 10px;
        color: #fff;
    }
}