.todolist {
    background: #343a40;
    color: #fff;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
    h1 {
        font-weight: 300;
    }
    button {
        background: transparent;
    }
}